@page
@model BookListRazor.Pages.BookList.UpsertModel
@{
}

<br />
<h2 class="text-info">@(Model.Book.Id != 0 ? "Edit":"Create")</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Book.Id != 0)
        {
            <input type="hidden" asp-for="Book.Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Name" class="form-control" />
            </div>
            <span asp-validation-for="Book.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Author" class="form-control" />
            </div>
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.Publisher"></label>
            </div>
            <div class="col-6" id="divPublisher">
                <input asp-for="Book.PublisherId" value="@Model.Book.PublisherId" id="PublisherId" type="hidden" class="form-control" />
                <select class="form-control select2" id="comboAuthor" style="width: 100%;"></select>
            </div>
            <span asp-validation-for="Book.PublisherId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.ISBN"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.ISBN" class="form-control" />
            </div>
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button class="btn btn-primary form-control" type="submit">@(Model.Book.Id != 0 ? "Update":"Create")</button>
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
            </div>
        </div>
    </form>
</div>


@section scripts{

   @* <partial name="_ValidationScriptsPartial" />*@

    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({
                url: "/api/Publisher/GetPublisherCombo",
                dataType: 'json',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (data) {
                    $('#comboAuthor').select2({
                        dataType: 'json',
                        data: data,
                        placeholder: 'Plese select..',
                        allowClear: true,
                        //dropdownElement:$('#divPublisher'),
                    });

                    $('#comboAuthor').on('select2:select', function (evt) {
                        $('#PublisherId').val(this.value);
                    });

                    $('#comboAuthor').on('select2:clear', function (evt) {
                        $('#PublisherId').val(0);
                    });

                    $('#comboAuthor').val($('#PublisherId').val()).trigger('change');


                    $('.select2.select2-container.select2-container--default').addClass('form-control');
                    $('.select2-selection.select2-selection--single').css('border', 'none');
                }
            });


        });
    </script>
}
