@page
@model BookListRazor.Pages.GenreList.IndexModel
@{
}

<div class="col-12 border p-3 mt-4">
    <div class="form-group row">
        <div class="col-md-6">
            <h2 class="text-info">Genre List</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-primary form-control text-white" asp-page="Upsert">Create Category</a>
        </div>
        <div class="col-3">
            <a class="btn btn-info form-control text-white" @*asp-page="SubCategory"*@ href="#">Create Sub Category</a>
        </div>
    </div>
    <table id="tableGenre" class="table table-striped border" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            var table = $('#tableGenre').DataTable({
                "ajax": {
                    "url": "/api/genre/GetAll",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "genreName" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center"><a href="GenreList/Upsert?id=${data}" class="btn btn-success text-white" style="width:70px">Edit</a>&nbsp;<a onclick=Delete('/api/genre/delete?id='+${data}) class="btn btn-danger text-white" style="width:70px">Delete</a></div>`
                        }
                    }

                ],
                "language": {
                    "emptyTable": "No data found"
                },
                columnDefs: [
                    { targets: [1], orderable: false },
                ]
            });
        });

        function Delete(url) {

            ShowDeleteOperationForList("Are you sure?", "Once deletede, you will not be able to recover", "warning", url, 'tableGenre');

        }
    </script>
}